.bottom-part {
  display: flex;
  flex-direction: row;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-planet {
  width: 50%;
  object-fit: cover;
}

.black-box {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.black-box > h2 {
  text-decoration: underline;
}

footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer > img {
  height: 5vh;
  margin: 0 20px;
}

.links > a {
  color: white;
}

.links {
  font-size: 1.2em;
}
