body {
  margin: 0;
  overflow: hidden;
}

.exoplanets-list {
  /* Fix button to be on front of canvas */
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  background-color: #333;
}

.exoplanets-title {
  font-size: 1.5em;
  color: white;
  font-family: monospace;
  margin: 10px;
}

/* .exoplanets {
  overflow: scroll;
} */

.exoplanet > span {
  color: white;
  font-family: monospace;
}
.star-list {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.star-title {
  font-family: monospace;
  color: yellow;
  font-size: 1.5em;
  margin: 10px;
}
.visible-stars{
  font-family: sans-serif;
}