body {
  margin: 0;
}

.exoplanets-list {
  /* Fix button to be on front of canvas */
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333;
  width: 300px;
  border-bottom-left-radius: 5px;
}

.exoplanets-input {
  font-family: monospace;
  color: white;
  margin: 15px;
  width: 250px;
  background-color: #333;
  border: 2px solid white;
  border-radius: 5px;
  padding: 7.5px;
}

.exoplanets-input:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.exoplanets {
  overflow: auto;
  max-height: 50vh;
  margin-left: 10px;
}

.listed-exoplanet {
  padding: 10px;
  margin: 5px;
  background-color: #444;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.listed-exoplanet > span {
  color: white;
  font-family: monospace;
  font-size: 1.2em;
}

.selected {
  border-color: white;
}

#cube-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  pointer-events: none;
}
